.code-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  padding: 10px;
  height: 100%; /* Ensure full height */
  width: 100%;  /* Ensure full width */
}

textarea {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  color: #ffffff;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  padding: 10px;
  outline: none;
}
