.code-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  height: 100%; /* Ensure full height usage */
  width: 100%; /* Ensure full width usage */
  overflow: hidden; /* Prevent scrollbars */
}

.code-editor-placeholder {
  color: #cccccc;
  text-align: center;
  padding-top: 20px;
}
